
@{
    ViewBag.Title = "Details";
}

<h1>CONTACT INFORMATION</h1>
<br />
Name: Abid Hasan Miad
<br />
Current Address:154/5,Biswaroad,KhillKhet.
<br />
Contact Number: 01858-904356
<br />
Email Address: abidhasanmiad@gmail.com
<br />
<h1>PERSONAL INFORMATION</h1>
<br />
Father’s Name: Md. Khairul Islam
<br />
Mother’s Name: Mrs. Aklima
<br />
Date of Birth: 10-01-1999
<br />
Nationality: Bangladeshi (By Birth)
<br />
Gender: Male
<br />
Religion: Islam
<br />
Blood Group: O (+)
<br />
Present Address: Kuratoli,KhillKhet,Dhaka-1209
<br />
ParmanentAddress: New Busstand, Tangail Sadar, Tangail
<br />


