
@{
    ViewBag.Title = "Edu";
}

<h1>EDUCATION QUALIFICATION</h1>
<h3>Secondary School Certificate (S.S.C)</h3>
<ul>
    <li>Bindubashini Govt. Boys High School</li>
    <li>Passing Year-2016</li>
    <li>GPA-5.00</li>
</ul>
<h3>Higher Secondary Certificate (H.S.C)</h3>
<ul>
    <li>Major Genaral Mahmudul Hasan College Tangail</li>
    <li>Passing Year-2018</li>
    <li>GPA-4.92</li>
</ul>
<h3>Bachelor of science in Computer Science and Engineering</h3>
<ul>
    <li>Institution-American International University-Bangladesh</li>
    <li>Passing Year-2022</li>
    <li>GPA-3.36</li>
</ul>