
@{
    ViewBag.Title = "Show";
}

<h1>Show Curriculum Vitae</h1>

<ul>
    <li><a href="/CV/Details">CONTACT & PERSONAL INFORMATION</a></li>
    <li><a href="/CV/Edu">EDUCATION QUALIFICATION</a></li>
    <li><a href="/CV/Ref">REFERENCES</a></li>
</ul>